:host {
}

:host >>> md-list-item {
  height: 48px !important;
}

.taggable-list-item {
  line-height: 48px;
}

.taggable-flag {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 9px;
}

.status {
  margin: 0 !important;
  margin-top: 9px !important;
  border-radius: 0px !important;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
}

.status-STARTED {
}

.status-STOPPED {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.taggable-name {
  margin-left: 8px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taggable-list {
  margin: 0px;
  padding: 0px;
}

.taggable-target-url md-icon,
.outdated {
  line-height: 48px;
}

.taggable-target-url {
  color: inherit;
  text-decoration: none;
}

.taggable-target-url:hover {
  text-decoration: underline;;
}
