<md-list-item class="taggable-list-item">
  <!-- <md-icon md-list-avatar *ngIf="'STARTED'===taggable.target.entity.state" class="status status-STARTED" fontSet="fa" fontIcon="fa-play"></md-icon>
  <md-icon md-list-avatar *ngIf="'STOPPED'===taggable.target.entity.state" class="status status-STOPPED" fontSet="fa" fontIcon="fa-stop"></md-icon> -->
  <div class="layout-row layout-fill">
    <span *ngIf="showFlag" class="taggable-flag flag-icon flag-icon-{{taggable.getRegion().icon}}"></span>

    <md-icon
      *ngIf="taggable.type==='app'"
      [ngClass]="{'status-STARTED': 'STARTED'===taggable.target.entity.state, 'status-STOPPED': 'STOPPED'===taggable.target.entity.state}"
      class="status" fontSet="fa" fontIcon="fa-{{taggable.getType().icon}}"></md-icon>

    <span class="taggable-name flex" title="{{taggable.target.entity.name}}">{{taggable.target.entity.name}}</span>

    <div>
      <span *ngIf="showSpace && taggable.links['space']">(space {{taggable.links['space'].target.entity.name}})</span>
      <span *ngIf="showOrg && taggable.links['org']">(org {{taggable.links['org'].target.entity.name}})</span>
      <span *ngIf="taggable.links['service']">({{taggable.links['service'].target.entity.label}})</span>
    </div>

    <sd-taggablepopup [taggable]="taggable"></sd-taggablepopup>

    <a *ngIf="taggable.getTargetUrl()" target="_blank" class="md-secondary taggable-target-url" href="{{taggable.getTargetUrl()}}">
      <md-icon>open_in_new</md-icon>
    </a>

  </div>


</md-list-item>
