<md-list-item class="taggable-list-item">
  <!-- <md-checkbox class="taggable-list-item-name">
  </md-checkbox> -->
  <md-icon *ngIf="'STARTED'===taggable.target.entity.state" class="status status-STARTED" fontSet="fa" fontIcon="fa-play"></md-icon>
  <md-icon *ngIf="'STOPPED'===taggable.target.entity.state" class="status status-STOPPED" fontSet="fa" fontIcon="fa-stop"></md-icon>

  <span *ngIf="taggable.region==='ng'" class="flag-icon flag-icon-us"></span>
  <span *ngIf="taggable.region==='eu-gb'" class="flag-icon flag-icon-gb"></span>
  <span *ngIf="taggable.region==='au-syd'" class="flag-icon flag-icon-au"></span>
  <span>{{taggable.target.entity.name}}</span>

  <span *ngIf="showSpace && taggable.links['space']">(space {{taggable.links['space'].target.entity.name}})</span>
  <span *ngIf="showOrg && taggable.links['org']">(org {{taggable.links['org'].target.entity.name}})</span>
  <span *ngIf="taggable.links['service']">({{taggable.links['service'].target.entity.label}})</span>

  <a *ngIf="taggable.getTargetUrl()" class="taggable-target-url" href="{{taggable.getTargetUrl()}}">
    <md-icon svgSrc="/assets/link.svg"></md-icon>
  </a>

  <div class='taggable-list'>
    <tag-input class="taggable-list-item-tags"
      [(ngModel)]="taggable.tags"
      [readonly]="!editable"
      (onRemove)="onTagRemoved($event)"
      (onAdd)="onTagAdded($event)">
    </tag-input>
  </div>
</md-list-item>
<!-- <md-card>
  <md-card-subtitle>{{taggable.type}}</md-card-subtitle>
  <md-card-title class="card-title" md-tooltip="{{taggable.target.entity.name}}"></md-card-title>
  <md-card-content> -->
    <!-- <tag-input
      //PENDING(fredL) enabling autocomplete kills the performance.
      // Typing in the search text gets slow down
      [autocomplete]="true"
      [autocompleteItems]="availableTags"
    </tag-input> -->
  <!-- </md-card-content> -->
<!-- </md-card> -->
