<div class="layout-column layout-fill">
  <header class="md-whiteframe-10dp">
    <md-toolbar color="primary">
      <span class="logo">
        <md-icon svgIcon="tag"></md-icon>
      </span>
      <span class="title">My Console</span>
      <span class="subtitle">give another look at your resources</span>

      <input class="search" [ngModel]="searchText"
        placeholder="Search" #search (change)='filterTaggables(search.value);' autofocus />

      <span *ngIf="!hasToken()">
        <a md-raised-button color="warn" routerLink="/settings" preserveQueryParams preserveFragment>
          No token set!
        </a>
      </span>
      <span *ngIf="hasToken()">
        <button [disabled]="isRefreshing()" md-raised-button color="accent" (click)="refreshAll();"
                angulartics2On="click" angularticsCategory="Actions" angularticsEvent="refresh-all">Refresh All</button>
        <!-- <button [disabled]="isRefreshing()" md-raised-button color="accent" (click)="refreshApps();"
                angulartics2On="click" angularticsCategory="Actions" angularticsEvent="refresh-apps">Refresh Apps</button> -->
      </span>

      <span>
        <a md-icon-button routerLink="/help" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']">
          <md-icon>help_outline</md-icon>
        </a>
        <a md-icon-button href="https://github.com/l2fprod/myconsole">
          <md-icon class="toolbar-icon" svgIcon="github"></md-icon>
        </a>
        <a md-icon-button href="https://twitter.com/l2fprod">
          <md-icon class="toolbar-icon twitter-icon" svgIcon="twitter"></md-icon>
        </a>
      </span>

    </md-toolbar>
    <div *ngIf="isRefreshing()">
      <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
    </div>
  </header>

  <div *ngIf="isRefreshing()" [@refreshStatus] class="refresh-status md-whiteframe-10dp">
    <div class="refresh-status-region" *ngFor="let region of getRegions()">
      <span class="flag-icon flag-icon-{{region.icon}}"></span>
      <ul class="refresh-status-types" *ngIf="getStatus().byRegion[region.name]">
        <li *ngFor="let type of getTaggableTypes()">
          <span class="refresh-state-{{getStatus().byRegion[region.name].types[type.name].state}}">
            <i *ngIf="getStatus().byRegion[region.name].types[type.name].state=='new'"class="fa fa-circle-o" aria-hidden="true"></i>
            <i *ngIf="getStatus().byRegion[region.name].types[type.name].state=='inprogress'"class="fa fa-play-circle-o" aria-hidden="true"></i>
            <i *ngIf="getStatus().byRegion[region.name].types[type.name].state=='done'"class="fa fa-check-circle-o" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
    <span class="refresh-state-{{getStatus().database}}"><i class="fa fa-database" aria-hidden="true"></i></span>
    <span class="refresh-state-{{getStatus().cleanup}}"><i class="fa fa-recycle" aria-hidden="true"></i></span>
    <span class="refresh-state-{{getStatus().filter}}"><i class="fa fa-filter" aria-hidden="true"></i></span>
  </div>

  <div class="layout-row layout-fill flex">
    <div class="app-views layout-column">
      <a md-icon-button routerLink="/dashboard" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']"><md-icon svgIcon="view_chart"></md-icon></a>
      <a md-icon-button routerLink="/navigate" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']"><md-icon>view_column</md-icon></a>
      <a md-icon-button routerLink="/browse" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']"><md-icon svgIcon="view_grid"></md-icon></a>
      <a md-icon-button routerLink="/list" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']"><md-icon>view_list</md-icon></a>
      <span class="flex"></span>
      <a md-icon-button routerLink="/settings" preserveQueryParams preserveFragment [routerLinkActive]="['is-active']"><md-icon>settings</md-icon></a>
    </div>
    <div class="app-content flex layout-column">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    My Console uses the Cloud Foundry API to retrieve organizations, spaces, apps and services. It is <b>experimental</b>. It is provided AS IS, WITH ALL FAULTS.
  </div>

  <!-- <footer>
    built in the <md-icon fontSet="fa" fontIcon="fa-plane"></md-icon> and
    at <md-icon fontSet="fa" fontIcon="fa-home"></md-icon> by <a href="http://twitter.com/l2fprod">fred</a>
  </footer> -->
</div>
