<div class="layout-column layout-fill">
  <md-toolbar color="primary" class="md-whiteframe-10dp">
    <span class="logo">
      <md-icon svgSrc="/assets/tag.svg"></md-icon>
    </span>
    <span class="title">My Console</span>
    <span class="subtitle">give another look at your resources</span>

    <input class="search" placeholder="Search" #search (change)='filterTaggables(search.value);' autofocus />

    <span>
      <input type="text" id="token" #token (change)="setToken(token.value);"
        placeholder="cf oauth-token here..." />
      <button md-raised-button color="accent" (click)="refreshAll();">Refresh All</button>
      <button md-raised-button color="accent" (click)="refreshApps();">Refresh Apps</button>
      <a md-icon-button href="https://github.com/l2fprod/myconsole">
        <md-icon class="toolbar-icon" svgSrc="/assets/github-circle.svg"></md-icon>
      </a>
      <a md-icon-button href="https://twitter.com/l2fprod">
        <md-icon class="toolbar-icon twitter-icon" svgSrc="/assets/twitter.svg"></md-icon>
      </a>
    </span>

  </md-toolbar>

  <div class="layout-row layout-fill flex">
    <div class="app-views layout-column">
      <a md-icon-button routerLink="/dashboard" [routerLinkActive]="['is-active']"><md-icon svgSrc="/assets/view-chart.svg"></md-icon></a>
      <a md-icon-button routerLink="/browse" [routerLinkActive]="['is-active']"><md-icon svgSrc="/assets/view-grid.svg"></md-icon></a>
      <a md-icon-button routerLink="/list" [routerLinkActive]="['is-active']"><md-icon svgSrc="/assets/view-list.svg"></md-icon></a>
      <span class="flex"></span>
      <button md-icon-button><md-icon svgSrc="/assets/settings.svg"></md-icon></button>
    </div>
    <div class="app-content flex layout-column">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <footer>
    built in the <md-icon fontSet="fa" fontIcon="fa-plane"></md-icon> and
    at <md-icon fontSet="fa" fontIcon="fa-home"></md-icon> by <a href="http://twitter.com/l2fprod">fred</a>
  </footer> -->
</div>
