.taggable-list {
  min-width: 500px;
  padding-left: 12px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
}

.taggable-list-header {
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 0 24px;
}

.taggable-list-header li {
  display: inline-block;
  margin-right: 8px;
  line-height: 24px;
  font-size: 80%;
}

.taggable-list-header-item {
}

.taggable-list-header-item-current {
}

:host >>> .taggable-list {
  display: flex;
}

:host >>> .taggable-list-item .md-list-item {
  display: flex;
}

.taggable-list-item-name {
}

:host >>> .taggable-list-item-tags {
  margin-left: auto;
}
