.toggle-editable {
  margin-left: 20px;
}

.taggables {
  overflow-x: auto;
  overflow-y: scroll;
}

.taggable-list-header {
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 0 24px;
}

.taggable-list-header li {
  display: inline-block;
  margin-right: 8px;
  line-height: 24px;
}

.taggable-list-header-item {
}

.taggable-list-header-item-current {
}

.overview {
  max-width: 400px;
  width: 400px !important;
}
