<div class="layout-column flex">
  <div>
    <md-slide-toggle class="toggle-editable" [(ngModel)]="editable">Edit Tags</md-slide-toggle>
  </div>
  <div class="flex layout-row">
    <div class="taggables flex layout-column">
      <div *ngFor="let currentType of getTaggableTypes()">
        {{currentType.plural}}
        <md-card class="taggable-list">
          <md-list dense>
            <md-list-item *ngIf="getTaggableByType(currentType).length == 0" class="taggable-list-item">
              <span>No {{currentType.display}}</span>
            </md-list-item>
            <sd-taggable *ngFor="let taggable of getTaggableByType(currentType)"
              class="taggable" [ngClass]="{'is-selected': selectedItem===taggable}"
              (click)="selectItem(taggable)"
              [taggable]="taggable"
              [availableTags]="availableTags"
              [editable]="editable"
              [showTags]="true">
            </sd-taggable>
          </md-list>
        </md-card>
      </div>
    </div>
    <div class="layout-column overview" *ngIf="selectedItem">
      Overview
      <sd-taggableoverview class="flex" [taggable]="selectedItem">
      </sd-taggableoverview>
    </div>
  </div>
</div>
