.box {
  overflow: hidden;
}

.number-icon {
  position: absolute;
  right: 12px;
  top: 0;
  font-size: 200px;
}

.number-icon i {
  font-size: 200px !important;
}

.number-value {
  position: relative;
  font-size: 60px;
}

.number-description {
  position: relative;
  font-size: 24px;
}

.number-per-region {
  position: relative;
  display: inline;
}

.number-per-region div {
  display: inline;
  white-space: nowrap;
}

.chart-title {
  font-size: 24px;
}
