:host {
  min-width: 900px !important;
}

.alert {
  margin-bottom: 12px;
}

.orgs-and-spaces {
  width: 600px;
  min-width: 600px !important;
}

.overview {
  max-width: 400px;
  min-width: 200px !important;
}

.overview .box {
  padding: 8px;
}

.box-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
  margin: 8px;
}

.box {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 8px;
}
