<div class="alert alert-warning">This view currently ignores the search filter.</div>

<div class="layout-row flex">
  <div class="layout-row orgs-and-spaces">
    <div class="layout-column flex-50">
      <div class="box-title">Organizations ({{getOrganizations().length}})</div>
      <md-card class="box flex">
        <md-list class="flex" dense>
          <sd-taggable class="taggable" [ngClass]="{'is-selected': selectedOrganization===taggable}"
            *ngFor="let taggable of getOrganizations()"
            (click)="selectOrganization(taggable);"
            [taggable]="taggable">
          </sd-taggable>
        </md-list>
      </md-card>
    </div>
    <div class="layout-column flex-50">
      <div class="box-title">Spaces ({{selectedOrganization ? selectedOrganization.children['spaces'].length : 0}})</div>
      <md-card class="box flex">
        <md-list class="flex" dense *ngIf="selectedOrganization">
          <sd-taggable class="taggable" [ngClass]="{'is-selected': selectedSpace===taggable}"
            *ngFor="let taggable of selectedOrganization.children['spaces']"
            (click)="selectSpace(taggable);"
            [showOrg]="false"
            [taggable]="taggable">
          </sd-taggable>
        </md-list>
      </md-card>
    </div>
  </div>
  <div class="layout-column flex">
    <div class="layout-column flex-50">
      <div class="box-title">Applications ({{getApps().length}})</div>
      <md-card class="box flex">
        <md-list class="flex" dense *ngIf="selectedSpace">
          <sd-taggable class="taggable" [ngClass]="{'is-selected': selectedItem===taggable}"
            *ngFor="let taggable of getApps()"
            (click)="selectItem(taggable)"
            [showOrg]="false"
            [showSpace]="false"
            [taggable]="taggable">
          </sd-taggable>
        </md-list>
      </md-card>
    </div>
    <div class="layout-column flex-50">
      <div class="box-title">Services ({{getServices().length}})</div>
      <md-card class="box flex">
        <md-list class="flex" dense *ngIf="selectedSpace">
          <sd-taggable class="taggable" [ngClass]="{'is-selected': selectedItem===taggable}"
            *ngFor="let taggable of getServices()"
            (click)="selectItem(taggable)"
            [showOrg]="false"
            [showSpace]="false"
            [taggable]="taggable">
          </sd-taggable>
        </md-list>
      </md-card>
    </div>
  </div>
  <div class="overview flex layout-column" *ngIf="selectedItem">
    <div class="box-title">Overview</div>
    <md-card class="box flex">
      <h3>{{selectedItem.target.entity.name}}</h3>

      <div *ngIf="selectedItem.type === 'app'">
        <ul>
          <li>
            Instances: {{selectedItem.target.entity.instances}}
          </li>
          <li>
            Memory: {{selectedItem.target.entity.memory}}
          </li>
          <li>
            <md-checkbox [checked]="selectedItem.target.entity.diego" [disabled]="true"> Diego Architecture</md-checkbox>
          </li>
        </ul>

        <h4>Routes</h4>
        <ul>
          <li *ngFor="let url of selectedItem.getAppUrls()">
            <a href="{{url}}">
              {{url}}
            </a>
          </li>
        </ul>
      </div>

      <div *ngIf="selectedItem.type === 'service_instance'">
        <ul>
          <li *ngIf="selectedItem.links['service']">
            {{selectedItem.links['service'].target.entity.label}}
          </li>
        </ul>
      </div>
    </md-card>
  </div>
</div>
