<div class="settings flex-80">
  <md-card>
    <md-card-content>
      <div>
        Run <code>cf oauth-token</code> on the command line then copy then paste the output over here:
      </div>
      <div>
        <textarea class="flex" type="text" id="token" #token>{{getToken()}}</textarea>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary" (click)="setToken(token.value);">Apply</button>
    </md-card-actions>
    <md-card-content *ngIf="decodedToken">
      <h2>Inside the token</h2>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="decoded-value">
              <input md-input placeholder="User name" disabled ngModel="{{decodedToken.user_name}}">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="decoded-value">
              <input md-input placeholder="Email" disabled ngModel="{{decodedToken.email}}">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="decoded-value">
              <input md-input placeholder="Issued at" disabled ngModel="{{decodedToken.iat}}">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="decoded-value">
              <input md-input placeholder="Expires at" disabled ngModel="{{decodedToken.exp}}">
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
